# This is a managed file. Manual changes will be overwritten.
# https://github.com/FusionAuth/fusionauth-public-repos/

/studio/ @supabase/frontend
/apps/www/ @supabase/frontend
/apps/docs/ @supabase/docs
/spec/ @supabase/docs
/docker/ @supabase/cli
